@charset "UTF-8";
body {
  text-align: center;
  background: #D6EBAC;
  font-family: "ヒラギノUD丸ゴ Std";
}

body header {
  display: flex;
}

body header .back {
  background: #D56F9E;
  display: flex;
  padding: 10px;
  width: 23%;
  border-radius: 10px;
  margin-left: 24px;
  margin-top: 54px;
}

body header .back a {
  text-decoration: none;
}

body header .back p {
  color: white;
  float: right;
  padding-left: 10px;
}

body header h2 {
  color: #6A2C21;
  margin-top: 58px;
  margin-left: 10px;
}

body .temp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

body input[type="radio"] {
  display: none;
}

body #button {
  display: block;
  width: 300px;
  height: 48px;
  background: #FEE478;
  color: #6A2C21;
  border: 2px solid #562019;
  border-radius: 24px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  line-height: 48px;
  margin: 0 auto;
}

body .erabu a {
  text-decoration: none;
}
