@charset "UTF-8";
body nav {
  position: relative;
  margin: 33px 0 0 0;
}

body nav::before {
  content: "";
  width: 100vw;
  height: 60px;
  display: block;
  background: #E285AD;
  position: absolute;
  left: 0;
  bottom: -30px;
}

body nav .nav__wrap {
  display: flex;
}

body nav .nav__wrap__box {
  width: 20%;
  position: relative;
}

body nav .nav__wrap__box__icon {
  height: 63px;
  width: 63px;
  border-radius: 10px;
  margin: 0 auto;
  line-height: 63px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

body nav .nav__wrap__box__icon p {
  height: 100%;
  width: 100%;
}

body nav .nav__wrap__box__icon p a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body nav .nav__wrap__box__icon p a img {
  display: block;
}

body nav .nav__wrap__box .history {
  background: #E285AD;
  transform: rotate(-6deg);
}

body nav .nav__wrap__box .gatya {
  background: #F8EA8E;
  transform: rotate(14deg);
}

body nav .nav__wrap__box .home {
  background: #E285AD;
}

body nav .nav__wrap__box .dressup {
  background: #F8EA8E;
  transform: rotate(-14deg);
}

body nav .nav__wrap__box .mypage {
  background: #E285AD;
  transform: rotate(6deg);
}

body nav .nav__wrap__box__text p {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
}

body {
  text-align: center;
  background: #FAF7F0;
  font-family: "ヒラギノUD丸ゴ Std";
}

body header {
  display: flex;
}

body header .back {
  background: #D56F9E;
  display: flex;
  padding: 10px;
  width: 23%;
  border-radius: 10px;
  margin-left: 24px;
  margin-top: 54px;
}

body header .back a {
  text-decoration: none;
}

body header .back p {
  color: white;
  float: right;
  padding-left: 10px;
}

body .container {
  position: relative;
}

body .container .box .gulp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body .container .box .aa {
  display: flex;
  flex-direction: column;
}

body .container .box .modal_open {
  display: inline-block;
  cursor: pointer;
}

body .container .modal_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

body .container .modal_wrap .modal_box {
  position: fixed;
  top: 15%;
  left: 7%;
  z-index: 7777;
  display: none;
  width: 80%;
  height: 60%;
  margin: 0;
  padding: 60px  0;
  border: 2px solid #aaa;
  text-align: left;
  background: #fff;
  border-radius: 24px;
}

body .container .modal_wrap .modal_box #time {
  text-align: center;
  padding-top: 50px;
}

body .container .modal_wrap .modal_box .mail {
  width: 80%;
  height: 50%;
  background: #E4E4E4;
  border-radius: 20px;
  margin: 0 auto;
}

body .container .modal_wrap .modal_box .mail #text {
  text-align: center;
  padding-top: 100px;
}

body .container .modal_wrap .modal_box .close_top {
  margin-top: 40px;
}

body .container .modal_wrap .modal_box .button_close {
  display: block;
  width: 80%;
  font-size: 20px;
  border: 2px solid #6A2C21;
  color: #6A2C21;
  text-align: center;
  background: #e6e6e6;
  border-radius: 30px;
  margin: 0 auto;
}

body .container .modal_wrap .modal_box .button_close .modal_close {
  text-align: center;
}

body .container .modal_wrap .modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6666;
  display: none;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.7);
}

body .nav__wrap {
  margin-top: 230px;
}
