html(lang="ja")
    head
        include _temp_head
        link(rel="stylesheet", href="css/first.css")
        title ferira

    body
     header
        main
            div.box

                img(src="img/logo.png" alt="ロゴ")
        
                p.login__btn
                    a(href="login.html")|ログイン
            
                p.login__btn
                    a(href="entry.html")|新規登録
  
        footer

